body {
    background-color: silver;
    background: #282828; /* match border color */
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
}
.Closed{
    display:none;
}
#black-font{
    color: #282828;
}
